@import "tailwindcss";
@import "react-responsive-modal/styles.css";

:root {
  --font-poppins: "Poppins", sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}

html,
body,
#root {
  font-family: var(--font-poppins);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
